/**/
* {
  margin: 0%;
}
html,
body {
  height: 100%;
  --grey: hsl(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);
}

body {
  display: grid;
  place-items: center;
  font-family: 'Roboto', Verdana;
  -webkit-font-smoothing: antialiased;
}
main {
  background: url(img/background.svg) no-repeat center/cover;
  min-height: 812px;
  height: 100vh;
  width: 100vw;
}

.container {
  max-width: 15.6rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}
.avatar {
  width: 10rem;
  margin: 11.5rem auto 1.5rem;
  position: relative; /*colonando position "relative" não vai deixar o selo pegar o posição partida do "corpo inteiro" do body, tipo vai ser a medida terminante final */
}

.avatar span {
  position: absolute; /*vai ficar em um layer na frente do objeto*/
  top: -15px;
  z-index: 1; /*a imagem ficou para trás por causa da configuração do clip-path, então precisou usar o z-index para ir para frente*/
}
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /*serve para imagem não ficar distorcida e feia*/

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  text-align: center;
}
p {
  margin-top: 2rem;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}
ul {
  padding: 0;
  margin-top: 4rem;

  display: flex; /*deixar os tem itens juntos na minha linha horizontal*/
  gap: 0.5rem;

  list-style: none;
  justify-content: center;
}

@media (min-width: 568px) {
  body {
    background: url(img/backDesktop.svg) no-repeat center/cover;
    background-color: #000;
  }

  main {
    background: url(img/cracha.svg) center;
    width: 33.8125rem;
    height: 8.75rem;
  }
}
.faixa {
  display: block;
  position: absolute;
  top: 0;
}

@media (max-width: 568px) {
  .faixa {
    display: none;
    position: none;
    top: none;
  }
}
